altgraph==0.17.2
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.5.18.1
charset-normalizer==2.0.12
colorama==0.4.4
future==0.18.2
idna==3.3
Nuitka==0.9.6
pefile==2022.5.30
psutil==5.9.1
pyarmor==7.5.1
pyinstaller==5.2
pyinstaller-hooks-contrib==2022.8
pypresence==4.2.1
pywin32-ctypes==0.2.0
requests==2.27.1
soupsieve==2.3.2.post1
urllib3==1.26.9
